@model IEnumerable<efCore.Data.CourseRegister>
@{
    ViewData["Title"] = "Course List Page";
}

<h2>Course List</h2>
<a href="/CourseRegister/Create" class="btn btn-primary">Add Course</a>
<hr>

<table class="table table-bordered">
    <thead>
      <tr>
        <th style="width:150px;">Register Id</th>
        <th>Student Name</th>
        <th>Course Name</th>
        <th style="width:150px;">Actions</th>
      </tr>
    </thead>
    <tbody>
       @foreach(var item in Model) {
        <tr>
            <td>@item.RegisterId</td>
            <td>@item.Student.StudentName</td>
            <td>@item.Course.CourseName</td>
            <td>
                <a asp-controller="Student" asp-action="Edit" asp-route-id="@item.StudentId" class="btn btn-sm btn-primary">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.StudentId" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
       }
    </tbody>
</table>
